@using TestOnlineModel.ViewModel.Admin
@model TestMemberViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
  
}


@section title{
    Cập nhật thành viên
}

@section script{

    <script>
        $('#selectUnitId option[value=@ViewBag.Unit.Id]').attr('selected', 'selected');


    </script>
}




<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="form_member_main">
        <h4 class="heading_member"><strong>Cập Nhật </strong></h4>
        <div class="form_member">
            @{
                <form asp-controller="TestMember" asp-action="UpdateMember" asp-area="Admin" method="post" id="updatememberfrm" name="updatememberFrm" role="form" enctype="multipart/form-data">
                    <span>Đơn vị </span>
                    <div class="dropdown">
                        <select name="UnitId" id="selectUnitId">
                            @{
                                foreach (var item in ViewBag.ListUnit)
                                {

                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>



                    Họ tên <span style="color:red;">*</span> <input type="text" placeholder="Vui lòng nhập vào họ tên" value="@Model.FullName" name="Name" class="txtMember">
                    <div>Email <span style="color:red;">*</span></div>  <input type="text" value="@Model.Email"  placeholder="Vui lòng nhập vào email" name="Email" class="txtMember">
                    <div>SDT    </div> <input type="text" placeholder="Vui lòng nhập vào số điện thoại" value="@Model.PhoneNumber" name="Phone" class="txtMember">
                    <span>Ngày sinh </span>
                    <div class="dateMember">
                        <input id="dateMemberPicker" type="date" placeholder="Vui lòng nhập vào ngày sinh" value="@Model.DateOfBirth" name="DateOfBirth" class="txtMember">
                    </div>
                    <span>Địa chỉ</span><input type="text" placeholder="Nhập vào địa chỉ" value="@Model.Address" name="Address" class="txtMember">
                     <input type="hidden" name="Id" value="@Model.Id" />
                     <input type="hidden" name="TestUnitId" value="@Model.UnitId" />

                    <input type="submit" value="Xác nhận" name="submit" class="txt2Member">
                    <input type="button" value="Quay lại" name="submit" class="txt2Member" id="backListMember" data-memberunitid="@ViewBag.Unit.Id">

                </form>
            }
        </div>
    </div>
</div>
<div class="col-md-2>"></div>

