

@using TestOnlineModel.ViewModel.Admin
@model IEnumerable<ExamDetailViewModel>
@{
    ViewData["Title"] = "UserViewExamDetail";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";

    var first = Model.First().ExamId;
    var testTime = ViewBag.TestTime;
    var minute = testTime / 60;
    var seconda = testTime % 60;
    var check = "ok";
    if (Model.First().IsAccess == true && Model.First().IsSubmit != null)
    {
        check = "not";
    }
}

@section script{
  
    <script>
     
       $(function () {
     $("#timetotest").countdowntimer({

        minutes: @minute,
        seconds: @seconda,
        size: "lg"

        });
        });

        var time_in_sec = parseInt(@minute* 60 +@seconda, 10);
        time_in_sec *= 1000;

        setTimeout(function () {
            $('#submitexam').trigger('click');
        }, time_in_sec)

        

          $('input:checkbox').change(function () {
        if ($(this).is(":checked")) {
            $(this).addClass("useranswer");
        } else {
            $(this).removeClass("useranswer");
        }
    });

    $('input:radio').change(function () {
        $('input[name=' + $(this).attr('name') + ']:not(:checked)').removeClass("useranswer");
        $('input[name=' + $(this).attr('name') + ']:checked').addClass("useranswer");
    })

         history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function (event) {
        history.pushState(null, document.title, location.href);
    });
    </script>



}

<div class="row table">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        <div id="countdowntimer"><span id="timetotest"><span></div>
    </div>
    <div class="col-md-2"></div>
    <!-- /.panel-heading -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">
                        Câu hỏi
                    </th>

                    <th>
                        Nội dung câu hỏi
                    </th>

                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        var listAnswer = item.ListAnswer;
                        i = i + 1;
                        <tr class="rowsdetailquestion">
                            <td width="10%">Câu hỏi @i</td>

                            <td align="left">
                                <div class="questionContent">@Html.Raw(item.QuestionName)</div>
                                @if (item.QuestionTypeKey == 2)
                                {
                                    <ul class="answerlist">
                                        @foreach (var item1 in listAnswer)
                                        {
                                            <li class="isanswercorrect">  <input type="checkbox" data-questionid="@item.QuestionId" data-answerid="@item1.AnswerId" />  @item1.AnswerSequence. @Html.Raw(item1.AnswerDescript)</li>
                                        }
                                    </ul>
                                }
                                else
                                {

                                    <ul class="answerlist">
                                        @foreach (var item1 in listAnswer)
                                        {
                                            <li class="isanswercorrect">  <input type="radio" name="@item.QuestionId" data-questionid="@item.QuestionId" data-answerid="@item1.AnswerId" /> @item1.AnswerSequence. @Html.Raw(item1.AnswerDescript) <br /></li>
                                        }
                                    </ul>


                                }
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>



    </div>
    <div>
        <button class="btn btn-danger" id="submitexam" data-examid="@first">Nộp bài</button>

    </div>

</div>

