@using TestOnlineModel.ViewModel.Admin
@model IEnumerable<QuestionGroupViewModel>

<div class="row table">
    <!-- /.panel-heading -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th width="150px">
                        Nhóm câu hỏi <a href="#" class="sortQuestionGroup" data-sortquestiongroup="QuestionGroupName"><img src="https://img.icons8.com/material-two-tone/24/000000/sort.png" height="15"></a>
                    </th>
                    <th width="100px">
                        Số câu <a href="#" class="sortQuestionGroup" data-sortquestiongroup="NumberOfQuestion"><img src="https://img.icons8.com/material-two-tone/24/000000/sort.png" height="15"></a>
                    </th>
                    <th>
                        Chuyên mục <a href="#" class="sortQuestionGroup" data-sortquestiongroup="CategoryName"><img src="https://img.icons8.com/material-two-tone/24/000000/sort.png" height="15"></a>
                    </th>
                    <th>
                        Mô tả <a href="#" class="sortQuestionGroup" data-sortquestiongroup="Description"><img src="https://img.icons8.com/material-two-tone/24/000000/sort.png" height="15" /></a>
                    </th>
                    <th>
                        Người tạo <a href="#" class="sortQuestionGroup" data-sortquestiongroup="Address"></a>
                    </th>
                    <th>
                        Ngày tạo <a href="#" class="sortQuestionGroup" data-sortquestiongroup="CreatedDate"><img src="https://img.icons8.com/material-two-tone/24/000000/sort.png" height="15"></a>
                    </th>
                    <th>
                        <a href="#">Thao tác</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {

                        <tr class="rows" data-totalrow="@item.TotalRecord" id="rows">
                            <td>@item.STT </td>
                            <td>@item.Name</td>
                            <td>@item.NumberOfQuestion</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.CreatedDate</td>
                            <td><a href="~/Admin/Question/Index?questionGroupId=@item.Id"><i class="fas fa-list"></i></a> <a href="/Admin/QuestionBank/UpdateQuestionGroup?questionGroupId=@item.Id"><i class="fas fa-pen-alt"></i></a>  <a href="#" class="deletequestiongroup" data-categoryid="@item.CategoryId" data-idquestiongroup="@item.Id"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                }


            </tbody>
        </table>



    </div>
</div>
